In [1]:
#import libraries

import numpy as np
import pandas as pd
import nltk
from bs4 import BeautifulSoup
import random

In [4]:
# #take a subsample of 600000 from the data to work with, since there are more than 1.2 million rows

# total_rows = 1264216
# sample_size = 600000
# skiprows = sorted(random.sample(range(total_rows), total_rows-sample_size))

# dtype = {'Id': pd.Int64Dtype(), 'OwnerUserId': pd.Int64Dtype(), 'CreationDate': np.datetime64, 'ClosedDate': np.datetime64, 'Title': object, 'Body': object}
# data = pd.read_csv('Questions.csv', engine='python', dtype=dtype, skiprows=skiprows)
# data.head()

,Id,OwnerUserId,CreationDate,ClosedDate,Score,Title,Body
0,80,26,2008-08-01 13:57:07,NaT,26,SQLStatement.execute() - multiple queries in o...,<p>I've written a database generation script i...
1,330,63,2008-08-02 02:51:36,NaT,29,Should I use nested classes in this case?,<p>I am working on a collection of classes use...
2,580,91,2008-08-02 23:30:59,NaT,21,Deploying SQL Server Databases from Test to Live,<p>I wonder how you guys manage deployment of ...
3,810,233,2008-08-03 20:35:01,NaT,9,Visual Studio Setup Project - Per User Registr...,<p>I'm trying to maintain a Setup Project in <...
4,930,245,2008-08-04 00:47:25,NaT,28,How do I connect to a database and loop over a...,<p>What's the simplest way to connect and quer...

In [5]:
# #get the respective tags for the selected subsample of the questions

# tags = pd.read_csv('Tags.csv')
# tags = tags[tags['Id'].isin(data['Id'])]
# tags.head()

     Id             Tag
0    80            flex
1    80  actionscript-3
2    80             air
18  330             c++
19  330             oop

In [6]:
# #select features to use

# features = ['Title', 'Body']
# X = data[features]

In [4]:
# #strip html tags from question body using beautifulsoup

# for i in range(400000, 500000):
#     X.iloc[i, 1] = BeautifulSoup(X.iloc[i, 1]).get_text()

In [2]:
X = pd.read_feather('./X.ftr')
#convert to lower case

for i in range(400000, 500000):
    X.iloc[i, 0] = X.iloc[i, 0].lower()
    X.iloc[i, 1] = X.iloc[i, 1].lower()

In [3]:
X.head(500000)

,Title,Body
0,sqlstatement.execute() - multiple queries in o...,i've written a database generation script in s...
1,should i use nested classes in this case?,i am working on a collection of classes used f...
2,deploying sql server databases from test to live,i wonder how you guys manage deployment of a d...
3,visual studio setup project - per user registr...,i'm trying to maintain a setup project in visu...
4,how do i connect to a database and loop over a...,what's the simplest way to connect and query a...
...,...,...
499995,undocumented structure defining and forwarding,i have two undefined structures in which i bui...
499996,stackoverflowerror exception when calling method,i am getting stackoverflowerror overflow excep...
499997,node-red crash / json output sometimes returns...,my node-red is crashing multiple times per day...
499998,implement download in a flask application,i'm a beginner of python/flask programming and...
499999,why does python allow function calls with wron...,python is my first dynamic language. i recentl...

In [4]:
# #save the dataframes as feathers

# data.to_feather('./data.ftr')
X.to_feather('./X.ftr')

# #sliced dataframe needs to be reindexed or converted to csv before saving as feather
# tags.to_csv('./tags.csv', index=False)
# tags = pd.read_csv('./tags.csv')
# tags.to_feather('./tags.ftr')