In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import random
from bs4 import BeautifulSoup
import nltk

In [2]:
# data_train = pd.read_feather('./data_train.ftr')
# train_tags = pd.read_feather('./train_tags.ftr')
X = pd.read_feather('./X.ftr')

In [4]:
data_train.head()

,Id,OwnerUserId,CreationDate,ClosedDate,Score,Title,Body
0,120,83.0,2008-08-01 15:50:08,NaT,21,ASP.NET Site Maps,<p>Has anyone got experience creating <strong>...
1,650,143.0,2008-08-03 11:12:52,NaT,79,Automatically update version number,<p>I would like the version property of my app...
2,930,245.0,2008-08-04 00:47:25,NaT,28,How do I connect to a database and loop over a...,<p>What's the simplest way to connect and quer...
3,1040,254.0,2008-08-04 05:45:22,NaT,42,How do I delete a file which is locked by anot...,<p>I'm looking for a way to delete a file whic...
4,1070,236.0,2008-08-04 07:34:44,NaT,17,Process size on UNIX,<p>What is the correct way to get the process ...

In [14]:
X.head()

,Title,Body
0,ASP.NET Site Maps,Has anyone got experience creating SQL-based A...
1,Automatically update version number,I would like the version property of my applic...
2,How do I connect to a database and loop over a...,What's the simplest way to connect and query a...
3,How do I delete a file which is locked by anot...,I'm looking for a way to delete a file which i...
4,Process size on UNIX,What is the correct way to get the process siz...

In [6]:
train_tags.head()

   Unnamed: 0   Id            Tag
0           7  120            sql
1           8  120        asp.net
2           9  120        sitemap
3          28  650             c#
4          29  650  visual-studio

In [4]:
for i in range(300000, 500000):
    X.iloc[i, 0] = X.iloc[i, 0].lower()
    X.iloc[i, 1] = X.iloc[i, 1].lower()

In [3]:
X.iloc[0:1]

               Title                                               Body
0  ASP.NET Site Maps  Has anyone got experience creating SQL-based A...

In [6]:
X.to_feather('./X.ftr')

NameError: name 'X' is not defined